body{
    display: flex;
    background-color: rgb(9, 0, 133);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.password-generator{
    display: flex;
    background: linear-gradient(135deg, rgb(136, 0, 255), rgb(255, 0, 110));
    width: 500px;
    color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border: 3px solid #210202;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(160, 147, 147);

}

.input-container{
    border: 2px solid #210202;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(255, 247, 247);
    color: rgb(0, 0, 0);
}
.fa-copy{
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.3;
}
.fa-copy:hover{
    opacity: 0.7;
}
input{
    width: 300px;
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;

}

button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(70, 58, 245);
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s ease;
    

}
button:hover{
    background-color: rgb(21, 221, 21);
    color: #210202;
    font-weight: bold;
}

#generate-btn:active{
    transform: scale(0.98);
}

.alert-container{
    position: fixed;
    width: 280px;
    height: 50px;
    background-color: rgb(33, 9, 5);
    right: 20px;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: rgb(155, 154, 154);
    box-shadow: 0 0 10px rgb(58, 23, 23);
    transition: right 0.5s ease;
    
}

.active.alert-container{
    right:-300px;
    
}